body {
  color: var(--text-color);
  font-family: $base-font-family;
  //font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing 0;
  font-weight: 600;
  color: var(--heading-color);
  letter-spacing: -0.02em;
}

h1 {
  font-size: rem(30);
  font-weight: 700;
}

h2 {
  font-size: rem(24);
}

h3 {
  font-size: rem(20);
}

h4 {
  font-size: rem(18);
}

h5,
h6 {
  font-size: rem(15);
  letter-spacing: 0;
}

p {
  margin: 0 0 $small-spacing;

  &.lead {
    font-size: rem(22);
    font-weight: 300;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: var(--link-hover-color);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: $base-spacing 0 $base-spacing $base-spacing;
  margin: $base-spacing 0;
  color: var(--text-color);
  line-height: 1.8;
  border-left: $small-spacing solid var(--blockquote-border);
  background-color: var(--blockquote-bg);
  p {
    margin: 0;
  }
}

code {
  background: none;
  border-radius: 3px;
  border: none;
  font-family: $code-font-family;
  font-size: 0.9em;
  margin: 0;
  padding: 0 5px;
  background-color: var(--code-bg);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: $code-font-family;
  font-size: 0.85em;
  line-height: 1.5;
  margin: 0 0 1.25em 0;
  overflow: auto;
  padding: 0.85em 1em;
  background: var(--code-bg);
  border-radius: 8px;

  code {
    background: none;
    padding: 0;
    border: none;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
}

ol {
    list-style-type: decimal;
}
