<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Muhammad. I do stuffs with computer and sometimes write about it here. I'm from New York, NY
      and currently work at <a href="#">FlexTrade Systems</a>(working on trading systems)</p>
    <!-- <p>I hope my content has provided value to you. If you'd like, you can show your support by visiting 
        <a href="https://www.buymeacoffee.com/mraza007">this link</a>. Your generosity is greatly appreciated.</p> -->

    <p><a href="https://www.youtube.com/channel/UCC_OnjbHWxVNYjf4YsAdMdA">Subscribe</a> to my Youtube Channel</p>



    <ul>
      <li><a href="mailto:muhammadraza0047@gmail.com">Contact Me</a></li>
    </ul>

  </div>
</section>