<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Muhammad. I do stuffs with computers and sometimes write about it here. I'm from New York,
      NY and currently work as a <a href="#"> Freelance Software Engineer</a>. I am available for hire.</p>

    <p><a href="https://www.youtube.com/channel/UCC_OnjbHWxVNYjf4YsAdMdA">Subscribe</a> to my YouTube
      Channel</p>

    <ul>
      <li><a href="mailto:muhammadraza0047@gmail.com" class="intro-link">Contact Me</a></li>
    </ul>
  </div>
</section>