<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{
          site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/work' | prepend: site.baseurl | prepend: site.url }}">Work</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href=" {{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
      <!-- <li><a href="https://www.buymeacoffee.com/mraza007"">Support Me</a></li> -->
      <li><a href=”mailto:muhammadraza0047@gmail.com?subject=Opportunity”>Hire Me</a></li>
      <a>
    </ul>
  </div>
</nav>