.theme-toggle {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: relative;
  
  &:hover {
    background-color: var(--blockquote-bg);
  }
  
  svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .moon-icon {
    display: none;
  }
  
  [data-theme="dark"] & {
    .sun-icon {
      display: none;
    }
    .moon-icon {
      display: block;
    }
  }
}
